WR_LISTEN_ADDRESS={{ wr_listen_address }}
WR_DATABASE_PATH=/home/wr/wr.db
WR_GITHUB_CLIENT_ID={{ wr_github_client_id }}
WR_GITHUB_CLIENT_SECRET={{ wr_github_client_secret }}
WR_TELEGRAM_BOT_TOKEN={{ wr_telegram_bot_token }}
WR_SESSION_KEY={{ wr_session_key }}
