[Unit]
Description=wr webring backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=wr
Group=wr
WorkingDirectory=/home/wr
EnvironmentFile=/etc/wr/wr.env
ExecStart=/usr/local/bin/wr --log-file /var/log/wr/wr.log
Restart=always
RestartSec=10
StandardOutput=append:/var/log/wr/wr.log
StandardError=append:/var/log/wr/wr.log

[Install]
WantedBy=multi-user.target
